/* Megan Huang 
style sheet: interactive drawing */

body {
    background-color: rgb(95, 112, 140);
    margin: auto;
    text-align: center;
}


#colors {
    margin-top: 20px;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.color:hover {
    transform: scale(1.1);
}

.color[select-color="mammoth-purple"] {
    background-color: rgb(63, 31, 105);
}

.color[select-color="mammoth-purple-dusk"] {
    background-color: rgb(93, 60, 133);
}

.color[select-color="mammoth-purple-pale"] {
    background-color: rgb(183, 165, 211);
}

.color[select-color="tusk"] {
    background-color: rgb(226, 225, 219);
}
.color[select-color="ice-age"] {
    background-color: rgb( 0, 184, 213);
}

.color[select-color="spring-leaf"] {
    background-color: rgb(91, 161, 81);
}

.color[select-color="autumn-leaf"] {
    background-color: rgb(223, 114, 61);
}

.color[select-color="robert-frost"] {
    background-color: rgb(80, 80, 97);
}

.color[select-color="mammoth-purple-night"] {
    background-color: rgb(49, 26, 77);
}

p {
    text-align: left;
    padding: 20px;
  }

#canvas {
    margin: 0 auto;
    border: solid black;
}

.edge {
    stroke: black;
    stroke-width: 4px;
}

.shape {
    margin: 10px;
    width: 60px;
    height: 30px;
}

.shape:hover {
    transform: scale(1.1);
}

.line {
    stroke-width: 5px;
}

.circle {
    stroke: none;
}
